<div id="search-component">
    <h1>Szukaj testu</h1>
  
    <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
  
    <ul class="search-result">
      <li *ngFor="let quiz of quizzes$ | async" >
        <a routerLink="/quiz/{{quiz.id}}">
          {{quiz.name}}
        </a>
      </li>
    </ul>
  </div>