h1 {
  color: rgb(210, 217, 224);
  font-size: 150%;
  margin-left: 5px;
}

.search-result li {
    border-bottom: 1px solid rgb(134, 88, 88);
    border-left: 1px solid rgb(150, 104, 104);
    border-right: 1px solid rgb(136, 88, 88);
    width:195px;
    height: 16px;
    padding: 15px;
    background-color: white;
    cursor: pointer;
    list-style-type: none;
    margin-left: 30px;
  }
   
  .search-result li:hover {
    background-color: rgb(136, 88, 88);
  }
   
  .search-result li a {
    color: #888;
    display: block;
    text-decoration: none;
  }
   
  .search-result li a:hover {
    color: white;
  }
  .search-result li a:active {
    color: white;
  }
  #search-box {
    width: 200px;
    height: 20px;
    margin-left: 20px;
  }
   
   
  ul.search-result {
    margin-top: 0;
    padding-left: 0;
  }