<div [formGroup]="group">
    <div class="row">
        <div class="col-md-3">
                <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="" formControlName="isCorrect">
                        <label class="form-check-label">Czy jest poprawna?</label>
                </div>
        </div>
        <div class="col-md-9">
          <div class="form-group">
                        <input type="text" class="form-control" formControlName="answer">
                        <small [hidden]="group.controls.answer.valid" class="text-danger">
                            Odpowiedź jest wymagana
                        </small>
          </div>
        </div>
    </div>
   
    
</div> 