<app-quiz-search></app-quiz-search>

<div *ngIf="appLoginSerivce.isLogged" class="container container-group container-margin-top-100">

    <h3>Testy prywatne: </h3>
    <div *ngFor="let quiz of quizzes" class="grid">
      <a *ngIf="quiz.isPrivate"  class="col1"
          routerLink="/quiz/{{quiz.id}}">
      <div class="module quiz">
       <h4>{{quiz.name}}</h4>
       </div>
      </a>
    </div>


</div>

<div *ngIf="!appLoginSerivce.isLogged" class="container container-group container-margin-top-100">

        <h3>Zaloguj się aby przeglądać i dodawać swoje testy</h3>
       
</div>


<div class="container container-group container-margin-top-100">
<h5>Wszystkie testy: </h5>
<div *ngFor="let quiz of quizzes" class="grid2">
  <a *ngIf="!quiz.isPrivate" class="col2"
      routerLink="/quiz/{{quiz.id}}">
  <div class="module quiz">
   <h4>{{quiz.name}}</h4>
   </div>
  </a>
</div>
</div>

