.col1 {
    float: left;
    padding: 80px;
    position: relative;
    top: -100px;

  }

.col2 {
    float: left;
    padding: 80px;
    position: relative;
    top: -100px;
  }

  a {
    text-decoration: none;
  }


  h3 {
    text-align: center; margin-bottom: 0;
    position: relative;
    top: -60px;
    padding: 15px;
  }


  .module {
    padding: 15px;
    text-align: center;
    color: #eee;
    height: 60px;
    width: 190px;
    background-color: rgb(223, 27, 27);
    border-radius: 2px;
    position: relative;
    top: -40px;
  }
  .module:hover {
    background-color: rgb(151, 68, 68);
    cursor: pointer;
    color: #607d8b;
  }


  h5 {
    text-align: center; margin-bottom: 0;
    position: relative;
    top: -60px;
    font-size: 120%;
    padding: 15px;
  }