button[type="submit"]{
    width: 325px;
    background-color: #f11c1c;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box; 
    margin-left: 50px;
    color: white;
    letter-spacing: 2px;
  }
  button[type="submit"]:hover{
    background-color: #e24646
  }
  .text-danger{

    position: relative; 
    left: -250px;
    top:-80px;
    bottom: 0px;
    color: rgb(255, 0, 0)
   }

     
  input[type="text"] {
    width: 300px;
    background-color: #efefef;
    margin-bottom: 5px;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-left: 50px;
    outline: none;
  }
  input[type="text"]:focus {
    background-color: rgb(182, 179, 179);
  }

  textarea[type="text"] {
    width: 300px;
    height: 100px;
    background-color: #efefef;
    margin-bottom: 5px;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-left: -50px;
    outline: none;
    position: relative;
    left: 55px;
  }
  textarea[type="text"]:focus {
    background-color: rgb(124, 120, 120);
  }
  h7{
      font-size: 150%;
  }