<div *ngIf="quizDetails">
        
    <div *ngIf="form && !isSummary">
  <div class="container container-group container-margin-top-100">
    <div class="col-md-12">
    <h3 class="text-center">{{quizDetails.name}}</h3>
    <h5>{{quizDetails.description}}</h5>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form"> 
      <div class="container container-group container-margin-top-20" *ngFor="let q of quizDetails.questions">
        <app-question [question]="q" [form]="form.controls[q.id]"></app-question>
      </div>
   
      <div class="container container-group container-margin-top-20">
          {{payLoad}}
          <div class="col-md-12 text-center">
              <button type="submit" class="btn btn-secondary btn-lg" [disabled]="!form.valid">Sprawdź</button>
          </div>
      </div>
  </form>

  <div class="container container-group container-margin-top-20">
        <div class="col-md-12">
        <h3 class="text-center">Komentarze</h3>
        <div class="row" *ngFor="let q of comments">
            <div class="col-md-3">
                Nick: {{q.nick}}
            </div> 
            <div class="col-md-9">
                    Komentarz: {{q.comment}}
            </div>
            <hr style="border: 1px solid #868e96; width: 100%">
        </div>
        </div>
      </div>
</div>


    <div *ngIf="isSummary">
        <div class="container container-group container-margin-top-100">
            <div class="col-md-12">
            <h3 class="text-center">Podsumowanie Quizu - {{quizDetails.name}}</h3>
            <h5>{{quizDetails.description}}</h5>
            </div>
            <div class="col-md-12">
                <h3 class="text-center">Twój wynik</h3>
                <h3 class="text-center">{{userPoints}}/{{totalPoints}}</h3>
            </div>
            <h3 class="text-center">Prawidłowe odpowiedzi:</h3>
          </div>

          <div class="container container-group container-margin-top-20" *ngFor="let q of quizDetails.questions">
                <app-answer-correct [question]="q" [form]="form.controls[q.id]"></app-answer-correct>
            </div>

        
          <div class="container container-group container-margin-top-20" *ngIf="showForm && appLoginSerivce.isLogged" >
                <div class="col-md-12">
                <h3 class="text-center">Dodaj komentarz</h3>
                </div>
                <form [formGroup]="addComentForm" novalidate>
                        <div class="form-group">
                            <label>Nick</label>
                            <input type="text" class="form-control" formControlName="nick">
                        </div>
                        <div class="form-group"> 
                            <label>Komentarz</label>
                            <textarea type="text" class="form-control" rows="5" formControlName="comment"></textarea>
                            <small *ngIf="!addComentForm.controls.comment.valid" class="text-danger">
                                Komentarz jest wymagany
                            </small>
                        </div>
                      <div style="margin-top:20px;">
                        <button type="submit" class="btn btn-primary pull-right" (click)="addComent(addComentForm)" [disabled]="!addComentForm.valid">Wyślij</button>
                      </div>
                      <div class="clearfix"></div>
                    </form>
              </div>

              <div class="container container-group container-margin-top-20" *ngIf="!showForm">
                    <div class="col-md-12">
                    <h3 class="text-center">Dodano komentarz!</h3>
                   
                  </div>

    </div>
</div>