
 <div class="container container-group container-margin-top-100" *ngIf="isLoging">
  <div class="wrapper">
		<form action="" method="post" name="Login_Form" class="form-signin">       
		    <h3 class="form-signin-heading">Zaloguj się</h3>
			  <hr><br>
			  
			  <input type="text" class="form-control" name="username" placeholder="Użytkownik" [(ngModel)]="model.username" #username="ngModel" required />
			  <input type="password" class="form-control" name="password" placeholder="Hasło" [(ngModel)]="model.password" #password="ngModel" required />     		  
       
        <button type="submit" (click)="login()" class="btn btn-primary btn-block btn-lg">Zaloguj się</button>
      </form>		
      <div class="alert alert-danger" *ngIf="error">
        <strong>Błąd!</strong> Podane dane do logowania są nieprawidłowe!
      </div>	
  </div>
  <span>*Administrator: admin:admin</span> <br/>
  <span>*Użytkownik: user:passsword</span>
</div>

<div class="container container-group container-margin-top-100" *ngIf="!isLoging">
    <h3 class="text-center">Zalogowano!</h3>
  </div>
  
