.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  width: 300px;
  background-color: #efefef;
  margin-bottom: 5px;
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-left: 50px;
  outline: none;
}
input[type="text"]:focus {
  background-color: rgb(124, 120, 120);
}
input[type="password"]:focus {
  background-color: rgb(124, 120, 120);
  
}

input[type="password"] {
  width: 300px;
  background-color: #efefef;
  margin-bottom: 25px;
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-left: 50px;
  outline: none;


}
button[type="submit"]{
  width: 325px;
  background-color: #f11c1c;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box; 
  margin-left: 50px;
  color: white;
  letter-spacing: 2px;
}
button[type="submit"]:hover{
  background-color: #e24646
}