<div [formGroup]="form">
    <div class="col-md-12">
        <h6 class="text-center">{{question.question}}</h6>
    </div>
    <div class="row col-md-12">
      <div class="col-md-6" *ngFor="let a of question.answers">
          <div class="form-group">
                <div class="form-check" *ngIf="a.isCorrect">
                        <label class="form-check-label" for="{{question.id}}-{{a.id}}">{{a.answer}}</label>
                </div>
            </div>
      </div>
      <div class="errorMessage" *ngIf="!isValid"></div>
    </div> 
</div>