<div class="container container-group container-margin-top-100" >
  <div class="row" *ngIf=!added>
    <div class="col-md-12"> 
      <div class="margin-20">
        <h4 class="text-center">Dodaj nowy quiz</h4>
      </div>
      <form [formGroup]="myForm" novalidate>
          <div class="form-group" *ngIf="quizDetails" >
              <label>Nazwa</label>
              <input type="text" [(ngModel)]="quizDetails.name" class="form-control" formControlName="name">
              <small *ngIf="!myForm.controls.name.valid" class="text-danger">
                  Nazwa jest wymagana
              </small>
          </div>
          <div class="form-group">
              <label>Opis</label>
              <input type="text" class="form-control" formControlName="description">
              <small *ngIf="!myForm.controls.description.valid" class="text-danger">
                  Opis jest wymagany
              </small>
          </div>
          <div class="form-group" *ngIf="appLoginSerivce.isAdmin === false">
              <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="" formControlName="isPrivate">
                  <label class="form-check-label">Czy jest prywatny?</label>
          </div>
          </div>
        <div formArrayName="questions">
          <div *ngFor="let address of myForm.controls.questions.controls; let i=index" class="panel panel-default">
            <div class="panel-heading">
              <span>Pytanie {{i + 1}}</span>
              <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.questions.controls.length > 1" (click)="removeAddress(i)"></span>
            </div>
            <div class="panel-body" [formGroupName]="i">
              <app-add-question [group]="myForm.controls.questions.controls[i]"></app-add-question>
            </div>
          </div>
        </div>

        <div style="margin-top:20px;">
          <button class="btn btn-primary" (click)="addQuestion()">Dodaj pytanie</button>

        </div>

        <div style="margin-top:20px;">
          <button type="submit" class="btn btn-primary pull-right" (click)="save(myForm)" [disabled]="!myForm.valid">Wyślij</button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>

  <h3 *ngIf=added class="text-center">Dodano!</h3>
</div>