  <div class="container">
    <a class="navbar-brand" routerLink="/quiz">Testy zamknięte</a>

  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="nav-item active">
          <a class="nav-link" routerLink="/quiz">Strona główna <span class="sr-only"></span></a>
        </div>
        <div class="nav-item" *ngIf="!appLoginSerivce.isLogged">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Zaloguj się</a>
        </div>
        <div class="nav-item" *ngIf="!appLoginSerivce.isLogged">
            <a class="nav-link" routerLink="/register" routerLinkActive="active">Zarejestruj się</a>
          </div>
        <div class="nav-item" *ngIf="appLoginSerivce.isLogged">
            <a class="nav-link" routerLink="/addQuiz" routerLinkActive="active">Dodaj Quiz</a>
          </div>
          
        <div class="nav-item" *ngIf="appLoginSerivce.isLogged && appLoginSerivce.isAdmin">
              <a class="nav-link" routerLink="/adminPanel" routerLinkActive="active">Panel Administratora</a>
        </div>

          <div class="nav-item" *ngIf="appLoginSerivce.isLogged">
              <a class="nav-link" routerLink="" (click)="appLoginSerivce.logout()" routerLinkActive="active">Wyloguj się</a>
          </div>
      <div class="nav-item nav-link" *ngIf="appLoginSerivce.isLogged" style="color:black;">
          Zalogowany jako <span *ngIf="appLoginSerivce.isAdmin">Administrator</span> <span *ngIf="!appLoginSerivce.isAdmin">{{appLoginSerivce.userName}}</span>
      </div>
      
    </div>
  </div>

  <router-outlet></router-outlet>