.form-signin {
    max-width: 420px;
    padding: 30px 38px 66px;
    margin: 0 auto;
    }
  
  .form-signin-heading {
    text-align:center;
    margin-bottom: 30px;
  }
  
  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
  }
  
  input[type="text"] {
    width: 300px;
    background-color: #efefef;
    margin-bottom: 5px;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-left: 50px;
    outline: none;
  }
  input[type="text"]:focus {
    background-color: rgb(124, 120, 120);
  }


  textarea[type="text"] {
    width: 300px;
    height: 100px;
    background-color: #efefef;
    margin-bottom: 5px;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-left: 50px;
    outline: none;
  }
  textarea[type="text"]:focus {
    background-color: rgb(124, 120, 120);
  }

  
  
  button[type="submit"]{
    width: 325px;
    background-color: #f11c1c;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box; 
    margin-left: 50px;
    color: white;
    letter-spacing: 2px;
  }
  button[type="submit"]:hover{
    background-color: #e24646
  }
  button[class="btn btn-primary"]{
    width: 225px;
    background-color: #f11c1c;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box; 
    margin-left: 50px;
    color: white;
    letter-spacing: 2px;
  }
  button[class="btn btn-primary"]:hover{
    background-color: #e24646
  }

  .text-danger{


   position: absolute; 
   left: 167px;
 
   color: red
  }

  .text-center{
    font-size: 200%;
  }

