/* You can add global styles to this file, and also import other style files */
body {
    background: rgb(51, 44, 44);
    margin: 0px auto;
    padding: 0px;
    color: #E1F7E7;
    font-family: 'Lato', sans-serif;
    margin-left: 10px;
    margin-right: 10px;


}
.container-group{
    background: #f8f9fa !important;
    color: rgb(56, 1, 1);
    padding: 60px 60px 60px 60px;
    width: auto;

}

.container-margin-top-100{
    margin-top: 100px;
}
.container-margin-top-20{
    margin-top: 20px;

}
