table.table-hover {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  table.table-hover td, table.table-hover th {
    border: 1px solid #AAAAAA;
    padding: 4px 3px;
  }
  table.table-hover tbody td {
    font-size: 13px;
  }
  table.table-hover tr:nth-child(even) {
    background: #F57860;
  }
  table.table-hover thead {
    background: #A41705;
    background: -moz-linear-gradient(top, #bb5143 0%, #ad2e1e 66%, #A41705 100%);
    background: -webkit-linear-gradient(top, #bb5143 0%, #ad2e1e 66%, #A41705 100%);
    background: linear-gradient(to bottom, #bb5143 0%, #ad2e1e 66%, #A41705 100%);
    border-bottom: 2px solid #BF2E15;
  }
  table.table-hover thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #821604;
  }
  table.table-hover thead th:first-child {
    border-left: none;
  }
  
  table.table-hover tfoot td {
    font-size: 14px;
  }
  table.table-hover tfoot .links {
    text-align: right;
  }
  table.table-hover tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }