<div class="container container-group container-margin-top-100" *ngIf="quizzes">
    <div class="wrapper">
      <div class="container">


      <div class="row">
          <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nazwa</th>
                  <th scope="col">Opis</th>
                  <th scope="col">Liczba pytań</th>
                  <th scope="col">Prywatny / Publiczny</th>
                  <th scope="col">Usuń</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let q of quizzes; let i = index">
                  <th scope="row">{{q.id}}</th>
                  <td>{{q.name}}</td>
                  <td>{{q.description}}</td>
                  <td>{{q.questions.length}}</td>
                  <td *ngIf="q.isPrivate">
                      <button type="button" class="btn btn-secondary" (click)="setPublic(i)">Ustaw publiczny</button>
                  </td>
                  <td *ngIf="!q.isPrivate">
                    Publiczny
                  </td>
                  <td>
                    <button type="button" class="btn btn-secondary" (click)="delete(i)">Usuń</button>
                 </td>

             
                </tr>
              </tbody>
            </table>
      </div>
    </div>
    </div>
  </div>