
 <div class="container container-group container-margin-top-100" *ngIf="isLoging">
  <div class="wrapper">
		<form action="" method="post" name="Login_Form" class="form-signin">       
		    <h3 class="form-signin-heading">Zarejestruj się</h3>
			  <hr><br>
			  
			  <input type="text" class="form-control" name="username" placeholder="Użytkownik" [(ngModel)]="model.username" #username="ngModel" required />
			  <input type="password" class="form-control" name="password" placeholder="Hasło" [(ngModel)]="model.password" #password="ngModel" required />     		  
        <input type="password" class="form-control" name="repassword" placeholder="Powtórz Hasło" [(ngModel)]="model.repassword" #repassword="ngModel" required />     		  

        <button type="submit" (click)="register()" class="btn btn-primary btn-block btn-lg">Zarejestruj się</button>
      </form>		
      <div class="alert alert-danger" *ngIf="error">
          <strong>Błąd!</strong> {{errorMsg}}
        </div>
  </div>
</div>

<div class="container container-group container-margin-top-100" *ngIf="!isLoging">
    <h3 class="text-center">Zarejestrowano! Możesz się zalogować</h3>
  </div>
  
