<div [formGroup]="group" style="border: 1px solid rgb(255, 255, 255); padding: 10px; background: #a08163; border-radius: 5px;">
    <div class="form-group col-xs-6">
        <input type="text" class="form-control" formControlName="question">
        <small [hidden]="group.controls.question.valid" class="text-danger">
            <p>Pytanie jest wymagane</p>
        </small>
    </div>
    <div style="padding:20px;">
    <div formArrayName="answers">
        <div *ngFor="let a of group.controls.answers.controls; let i=index" class="panel panel-default">
          <div class="panel-heading">
            <span>Odpowiedź {{i + 1}}</span>
            <span class="glyphicon glyphicon-remove pull-right" *ngIf=" group.controls.answers.controls.length > 1" (click)="removeAddress(i)"></span>
          </div>
          <div class="panel-body" [formGroupName]="i">
            <app-add-question-answer [group]=" group.controls.answers.controls[i]"></app-add-question-answer>
          </div>
          <button class="btn" (click)="removeAnswer(i)">Usuń odpowiedź</button>
        </div>
    </div>
    </div>
    <button class="btn" (click)="addAnswer()">Dodaj odpowiedź</button>
</div> 